<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Comics</h4>

          <form>
            <input  class="form-control" type="text" placeholder="Buscar comic" [formControl]="search">
          </form>

          <br>

          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Description</th>
                <th>Final de año</th>
                
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of comicsArr">
                <td>{{ item.id}}</td>
                <td>
                  <strong>
                    {{ item.title}}
                  </strong>
                </td>
                <td [class.text-danger]="!item.description">{{ item.description  |  shorten: 30 }}</td>
                <td>
                  <button type="button" class="btn btn-success" disabled>
                    <i class="fa fa-star"></i>
                  </button>
                </td>

                <td>
                  <button type="button" class="btn btn-light" (click)="addFavorites(item.id)" >
                    <i class="fa fa-star"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>


        </div>
      </div>
  </div>
</div>
