<div class="row">
      <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Comics</h4>
    
              <br>
              <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                  </tr>
                </thead>
    
                <tbody>
                  <tr *ngFor="let item of comicsFavs">
                    <td>{{ item.data.items[0].id}}</td>
                    <td>
                      <strong>
                        {{ item.data.items[0].title}}
                      </strong>
                    </td>
                  </tr>
                </tbody>
    
              </table>
    
    
            </div>
          </div>
      </div>
    </div>
    